
.navbar-brand img{
    height: 52px;
    padding-left: 60px;
}
.navbar-collapse .navbar-nav {
    padding-right: 60px;
    font-size: 20px;
    font-weight: 600;
}
.navbar-collapse .navbar-nav  span{
    color: blue;
}
.form h4::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #b5b0f3;
    margin: 4px 10px;
}
.form h4::before {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #b5b0f3;
    margin: 4px 10px;
}
.body-main-header{
background: rgb(208, 208, 245);

}
.main-signin{
    text-align: center;
    background-color: #fff;
    margin: 1px 1px 1px 341px
}
.signin-wrapper{
    margin-top: 40px;
}
 h3{
    padding: 45px 0 20px 0;
    font-size: 35px;
    font-weight: 600;
    color: #0b0bdb;}
.password{

}
.image12{
    border: 1px solid blue;
    padding: 10px 5px 10px 5px; 
}
.image-wrapper{
padding-bottom: 40px;
}
a{
text-decoration: none;
}